/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/rgb.h>


    // ╭────┬────┬────┬────┬────┬────╮ ╭────┬────┬────┬────┬────┬────╮
    // │ 01 │ 02 │ 03 │ 04 │ 05 │ 06 │ │ 07 │ 08 │ 09 │ 10 │ 11 │ 12 │
    // ├────┼────┼────┼────┼────┼────┤ ├────┼────┼────┼────┼────┼────┤
    // │ 13 │ 14 │ 15 │ 16 │ 17 │ 18 │ │ 19 │ 20 │ 21 │ 22 │ 23 │ 24 │
    // ├────┼────┼────┼────┼────┼────┤ ├────┼────┼────┼────┼────┼────┤
    // │ 25 │ 26 │ 27 │ 28 │ 29 │ 30 │ │ 31 │ 32 │ 33 │ 34 │ 35 │ 36 │
    // ╰────┴────┴────┼────┼────┼────┤ ├────┼────┼────┼────┴────┴────╯
    //                │ 37 │ 38 │ 39 │ │ 40 │ 41 │ 42 │
    //                ╰────┴────┴────╯ ╰────┴────┴────╯

/ {
    combos {
        compatible = "zmk,combos";

	    combo_lower_raise {
            timeout-ms = <200>;
            key-positions = <37 40>;
            bindings = <&mo 3>;
	    #slow-release;
        };
     };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                display-name = "Base";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                  &kp LGUI &mo 1 &kp SPACE   &kp RET &mo 2 &kp RALT
                        >;
                };
                lower_layer {
                display-name = "Lower";
// -----------------------------------------------------------------------------------------
// |  TAB |     |     |     |     |     |   |  7  |  8  |  9  |  0  |     | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   |  4  |  5  |  6  |  .  |  UP |      |
// | SHFT |     |     |     |     |     |   |  1  |  2  |  3  | LFT | DWN | RGT  |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TAB    &trans   &trans    &trans &trans &trans                            &kp N7   &kp N8   &kp N9 &kp N0    &trans   &kp BSPC
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp N4   &kp N5   &kp N6 &kp RET   &kp UP   &trans
   &kp LSHFT  &trans       &trans       &trans       &trans       &trans         &kp N1   &kp N2   &kp N3 &kp LEFT  &kp DOWN &kp RIGHT
                                        &kp LGUI     &trans       &kp SPACE      &kp RET  &trans   &kp RALT
                        >;
                };

                raise_layer {
                display-name = "Raise";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// |  F1  | F2  | F3  | F4  | F5  | F6  |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// |  F7  | F8  | F9  | F10 | F11 | F12 |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
   &kp F1 &kp F2   &kp F3 &kp F4   &kp F5   &kp F6         &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &kp GRAVE
   &kp F7 &kp F8   &kp F9 &kp F10  &kp F11  &kp F12        &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE &kp TILDE
                          &kp LGUI &trans &kp SPACE        &kp RET   &trans    &kp RALT
                        >;
                };
                lower_raise {
                display-name = "LowerRise";
// &mo 3
// -----------------------------------------------------------------------------------------
// |BL_OFF|RGB_HUI|RGB_HUD |RGB_SAI| RGB_SAD|RGB_BRI|   |C_MUTE|C_VOL_DN|C_VOL_UP|C_BRI_DN|C_BRI_UP|PSCRN|
// |BL_ON |RGB_BRD|RGB_SPI |RGB_SPD| RGB_EFF|RGB_EFR|   |  F21 |  F22   |  F23   |        |        |     |
// |BL_INC|BL_DEC |BL_CYCLE|RGB_TOG| EP_ON  |EP_OFF |   |      |        |        |        |        |     |
//                                | GUI |     | SPC |   | ENT  |        |   ALT  |
                        bindings = <
   &bl BL_OFF &rgb_ug RGB_HUI &rgb_ug RGB_HUD &rgb_ug RGB_SAI &rgb_ug RGB_SAD &rgb_ug RGB_BRI      &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &kp C_BRI_DN &kp C_BRI_UP &kp PSCRN
   &bl BL_ON  &rgb_ug RGB_BRD &rgb_ug RGB_SPI &rgb_ug RGB_SPD &rgb_ug RGB_EFF &rgb_ug RGB_EFR      &kp F21 &kp F22 &kp F23 &trans &trans &trans 
   &bl BL_INC &bl BL_DEC &bl BL_CYCLE &rgb_ug RGB_TOG &ext_power EP_ON &ext_power EP_OFF           &trans &trans &trans &trans &trans &trans 
                           &kp LGUI &trans   &kp SPACE           &kp RET   &trans    &kp RALT
                        >;
                };
                rise_lower {
                display-name = "RiseLower";
// &mo 4
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &trans &trans &trans &trans &trans &trans         &trans &trans &trans &trans &trans &trans 
   &trans &trans &trans &trans &trans &trans         &trans &trans &trans &trans &trans &trans 
   &trans &trans &trans &trans &trans &trans         &trans &trans &trans &trans &trans &trans 
                &kp LGUI &trans   &kp SPACE           &kp RET   &trans    &kp RALT
                        >;
                };
        };
};
